@tailwind base;
@tailwind components;
@tailwind utilities;

.card:hover {
    box-shadow: 0 0 10px 3px rgba(66, 153, 225, 0.5);
}

@keyframes borderCycle {
    0% {
      border-color: rgb(255, 0, 0);
    }
    50% {
      border-color: rgb(0, 255, 0);
    }
    100% {
      border-color: rgb(0, 0, 255);
    }
  }
  
  .hover\:border-animation:hover {
    animation: borderCycle 2s linear infinite;
  }
  .hover\:glow-animation:hover {
    animation: glowCycle 2s linear infinite;
  }
  
  @keyframes glowCycle {
    0% {
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    }
    50% {
      box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    }
  }  

  .menu-closed {
    transform: translateX(-100%);
  }
  
  .menu-open {
    transform: translateX(0);
  }
  
  .transition-transform {
    transition: transform 0.3s ease-out;
  }
  